/*Encabezado de pagina*/ 
.headerViveTerpel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerViveTerpel img{
  width: 200px
}
/*Menu principal*/
#menuPrincipal {
}
/*Menu*/
#menu {
    width: 100%;
}

#botonEnlace{
  background: none;
  border: 0;
  color: purple;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
} 
#botonEnlace:hover{
  cursor: pointer;
  text-decoration: underline;
}


